nav {
    background-color: #222;
    padding: 10px 20px;
}

nav a {
    color: rgb(248, 3, 3);
    margin-right: 20px;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #00d1b2; 
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 2rem;
}

img {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.2);
}

img:hover {
    transform: scale(1.03);
    transition: 0.3s ease;
}

body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}
